/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

blablablocks-highlighted {
	white-space: normal;
	overflow-wrap: break-word;
}

.block-editor-format-toolbar__clear-button {
	margin: 12px;
}

.block-editor-format-toolbar__blablablocks-highlighted-popover {

	.components-popover__content {
		min-width: 280px;
	}

	.components-tab-panel__tab-content {
		padding: 1rem;
	}
}

.block-editor-format-toolbar__blablablocks-highlighted-button {
	justify-content: center;
	padding: 10px 12px;
	border-radius: 4px;

	blablablocks-highlighted {
		font-size: 14px;
	}
}
