/**
 * Editor styles for the font-size format.
 */

.block-editor-format-toolbar__blablablocks-font-size-popover {
	.components-popover__content {
		min-width: 20.625rem;
	}

	.reset-button {
		margin-top: 1rem;
		display: block;
		margin-left: auto;
	}
}