.has-typography-format {
	&.has-drop-cap,
	&.has-typography-drop-cap {
		display: inline-block;
	}

	&.has-drop-cap::first-letter,
	&.has-typography-drop-cap::first-letter {
		float: left;
		font-size: 3em;
		line-height: 0.82;
		margin-top: 0.06em;
		margin-right: 0.12em;
	}
}
