.block-editor-format-toolbar__blablablocks-number-counter-popover .components-popover__content {
    padding: 16px;
}

.block-editor-format-toolbar__blablablocks-number-counter-popover .components-popover__content .bbb-animation-toggle {
    width: 330px;
}

.block-editor-format-toolbar__blablablocks-number-counter-popover {

    .reset-button {
        margin-top: 1rem;
        display: block;
        margin-left: auto;
    }
}