.block-editor-format-toolbar__blablablocks-gradient-text-popover .components-popover__content>div {
    padding: 16px;
    width: 260px;
}

.block-editor-format-toolbar__blablablocks-gradient-text-popover .components-custom-gradient-picker__gradient-bar .components-custom-gradient-picker__control-point-button {
    padding: 0px;
}

.block-editor-format-toolbar__blablablocks-gradient-text-popover {

    .reset-button {
        margin-top: 1rem;
        display: block;
        margin-left: auto;
    }
}